#one{
    display: flex;
    justify-content: space-between;

}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
  }
h1 {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    color: darkred;
    text-shadow: 2px 2px #000;
    margin: 0;
  }
  form {
    display: flex;
    align-items: center;
  }
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    flex-grow: 1;
  }
  input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #333;
  }
  

